<div class="row contactC">
  <div class="col col-lg-7 content">
    <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">Let's talk</h1>
    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Get in touch via the form below, or by emailing <span>chikar.h@outlook.fr</span>. </p>
    <form>
      <div class="form-group wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.75s">
        <label for="exampleFormControlInput1" >Name :</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="enter your name">
      </div>
      <div class="form-group wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
        <label for="exampleFormControlInput1">Email address :</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="enter your email">
      </div>
      <div class="form-group wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.25s">
        <label for="exampleFormControlTextarea1">Message :</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="enter your message" ></textarea>
      </div>
      <button type="submit" class="btn btn-primary wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">Submit</button>
    </form>
  </div>
</div>
