<nav class="navbar fixed-top navbar-sm navbar-light">
      <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/work">Work</a>
          </li>
          <li class="nav-item contact" >
            <a class="nav-link"  routerLinkActive="active" routerLink="/contact">Contact</a>
          </li>
        </ul>


</nav>
