/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-Regular.ttf) format("truetype");
}
body{
  background-color:#121212;
  background-image: url(./assets/images/abraham.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position:right;
  background-attachment: fixed;
}
